.header {
  background: rgba(200, 102, 61, 0.48);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  height: 3rem;
  &__logo img {
    height: 44px;
    width: 130px;
    margin-left: 12rem;
  }
  &__link {
    color: #dddddd;
    margin-right: 1.5rem;
  }
}
nav {
  margin-right: 11rem;
}
