@import "../../styles/Variables.scss";
@import "../../styles/Typography.scss";

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  &__title {
    color: $text-color;
    font-size: 3rem;
    font-family: poppins-reg;
    font-weight: 500;
  }
  &__description {
    color: $text-color;
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: poppins-light;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 1103px;
  height: 322px;
  background: rgba(99, 99, 99, 0.75);
  justify-content: center;
  align-items: center;
  &__title {
    color: $text-color;
    font-family: poppins-med;
    font-size: 1.5rem;
  }
  &__pickers {
    display: flex;
    gap: 3rem;
    padding-top: 5rem;
  }
}
.btn {
  cursor: pointer;
  color: $text-color;
  margin-top: 5rem;
  text-align: center;
  width: 100px;
  height: 35px;
  background: linear-gradient(180deg, #f2b165 1.04%, #e97a3b 100%);
  border-radius: 6px;
  border: none;
}
.btn:hover {
  background: $table;
}
.btn:active {
  background: linear-gradient(180deg, #f2b165 1.04%, #e97a3b 100%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
