@import "../../styles/Variables.scss";
@import "../../styles/Typography.scss";
@import "../../styles/Globals.scss";

.confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-color;
    text-align: center;
    width: 30%;
    height: 60vh;
    background: rgba(99, 99, 99, 0.75);
    border-radius: 28px;
  }
  > h1 {
    font-size: 2rem;
    color: $text-color;
  }
}
.confirmation-container__details {
  margin-top: 1rem;
}
.confirmation-container__wrapper__description {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: poppins-light;
  color: $text-color;
}
.confirmation-container__details__button {
  cursor: pointer;
  color: $text-color;
  margin-top: 4rem;
  text-align: center;
  width: 90px;
  height: 35px;
  background: linear-gradient(180deg, #f2b165 1.04%, #e97a3b 100%);
  border-radius: 6px;
  border: none;
}
.confirmation-container__details__client {
  display: flex;
}
.confirmation-container__details__button:hover {
  background: $table;
}
.confirmation-container__details__button:active {
  background: linear-gradient(180deg, #f2b165 1.04%, #e97a3b 100%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.confirmation-container__details__client {
  font-family: poppins-reg;
  font-size: 1rem;
}
.confirmation-container__details__titles {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
