@import "../../styles/Variables.scss";
@import "../../styles/Typography.scss";

.confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-color;
    text-align: center;
    width: 30%;
    height: 50vh;
    background: rgba(99, 99, 99, 0.75);
    border-radius: 28px;
  }
  > h1 {
    color: $text-color;
  }
}
.confirmation-container__details__button {
  cursor: pointer;
  color: $text-color;
  margin-top: 4rem;
  text-align: center;
  width: 90px;
  height: 35px;
  background: linear-gradient(180deg, #f2b165 1.04%, #e97a3b 100%);
  border-radius: 6px;
  border: none;
}
.confirmation-container__details__button:hover {
  background: $table;
}
.confirmation-container__details__button:active {
  background: linear-gradient(180deg, #f2b165 1.04%, #e97a3b 100%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
