@import "../../styles/Variables.scss";
@import "../../styles/Typography.scss";

.contact-section {
  display: flex;
  width: 100%;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    color: $text-color;
  }
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 521px;
    height: 331px;
    background-color: #c4c4c4;
    border-radius: 28px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
}
